{% extends "../base.html" %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{ board.title }}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{ board.contents | linebreaksbr }}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board">글목록</a>
					{% if board.user_id == request.session.authuser.id %}
					<a href="/board/updateform?id={{ board.id }}">글수정</a>
					{% endif %}
				</div>
			</div>
{% endblock %}